BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Right
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
